<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Go Wiki</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <main class="container">
    <h1>Editing {{.Title}}</h1>


    <form action="/save/{{.Title}}" method="POST">
      <div>
        <textarea name="body" row="20" cols="80">{{printf "%s" .Body}}</textarea>
      </div>
      <div>
        <input type="submit" value="Save">
      </div>
    </form>
  </main>

</body>

</html>
